@model IEnumerable<Category>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">File OverView</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                New Entry
            </a>
        </div>
    </div>
    <table class="table table-borderd table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Heading</th>
                <th>In Date</th>
                <th>Out Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td width="30%">
                        @obj.FileHeading
                    </td>
                    <td width="30%">
                        @obj.FileInDate
                        
                    </td>
                    <td width="30%">
                        @obj.FileOutDate
                    </td>
                    <td>
                       <div class="w-75% btn-group" role="group">
                           <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-secondary" style="margin-right:16px">Edit</a>
                           <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger" style="margin-right:16px">Delete</a>
                       </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>









